<%= csrf_meta_tags %>
<%= stylesheet_link_tag "guests.css" %>

<div id="" class="container col-lg-12">
	<div id="header" style="margin-bottom: 40px;">
		<%= render 'layouts/header' %>
	</div>
	<br>
	<div class="col-lg-2">
		<%= render 'letters/mailbox' %>
	</div>
	<div class="col-lg-10">
		<%= render 'letters/maillist' %>
	</div>
	
	<%= link_to 'Back', guests_path %>
| <%= link_to 'Edit', edit_guest_path(@guest) %>	
</div>
