<%= csrf_meta_tags %>
<%= stylesheet_link_tag "guests.css" %>
<div id="guest" class="container col-lg-offset-2 col-lg-8" style="background-color: #FFF;">
	<%= render 'form' %>
</div>
<%= link_to 'Back', guests_path %>
| <%= link_to 'Edit', edit_guest_path(@guest) %>