<%= csrf_meta_tags %>
<%= stylesheet_link_tag "letters.css" %>
<div id="letter" class="container col-lg-offset-2 col-lg-8" style="background-color: #FFF;">
	<div id="top" style="height: 80px;">
		<div id="header" style="height: 20px; background-color: #FF005B">
			<div id="horizontal" class="col-lg-offset-1" style="color: #00ADF8">
			</div>
			
			<div id="vertical" class="col-lg-offset-1" style="width: 10px; height: 80px; background-color:#00ADF8; float: left">	
			</div>
			
			<div id="mark" class="col-lg-offset-1" style="padding-top:40px; padding-left: 20px; font-size: 200%; color: #00ADF8">
				解忧杂货店
			</div>
		</div>
	</div>

	<div id="middle" class="col-lg-offset-1" style="height: 550px; margin-top: 30px;">
		<%= render 'form' %>
		<%= link_to 'Back', letters_path %>
	</div>

	<div id="bottom" style="height: 30px; background-color: #00ADF8">
		
	</div>
</div>

<%= link_to 'Back', letters_path %>
| <%= link_to 'Edit', edit_letter_path(@letter) %>
